<h2 id="title">Products List Vew</h2>
<div class="card border-primary mb-3 mt-3">
    <div class="card-header bg-primary">Header</div>
        <div class="card-body">
            <form action="" class="form-inline">
                <label for="">Filter by:</label>
                <input type="text" class="form-control ml-5" name="filter">
            </form>

            <table class="table mt-5">
                <thead class="text-primary table-borderless">
                    <th><button class="btn btn-primary">Show Image</button></th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>5 Star Rating</th>
                </thead>
                <tbody>

                </tbody>
            </table>
            
        </div>
  </div>
